body {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    height: 640px;
    width: 640px;
    border: 2px;
    border-color: black;
    border-style: solid;
}

.cell {
    display: flex;
    flex-shrink: 1;
    /* background-color: red; */
}

.tools {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 550px;
}

.parameters {

}

.color-select {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 640px;
    width: 100px;
}

.button-color {
    border: 2px solid black;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    font-size: 40px;
    text-align: center;
}